html, body {
    background-color: rgb(243, 243, 243);
    color: #78c2c5;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size:1.3rem;
}

/*
    Opte por darle por defecto estos valores tanto al color y tamaño de la fuente de la app en general,
    asi como la fuente y el color del fondo.
*/
button {
    font-size: 2rem;
}